KP_TimeSheet.MVC/ClientApp/node_modules/

KP.TimeSheets.Domain/obj/Debug/net5.0/KP.TimeSheets.Domain.assets.cache
KP_TimeSheet.MVC/bin/Debug/net5.0/appsettings.Development.json
KP_TimeSheet.MVC/bin/Debug/net5.0/appsettings.json
KP_TimeSheet.MVC/bin/Debug/net5.0/dbconfig.json
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.deps.json
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.exe
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.pdb
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.runtimeconfig.dev.json
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.runtimeconfig.json
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.Views.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/KP_TimeSheet.MVC.Views.pdb
KP_TimeSheet.MVC/bin/Debug/net5.0/KP.TimeSheets.Domain.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/KP.TimeSheets.Domain.pdb
KP_TimeSheet.MVC/bin/Debug/net5.0/KP.TimeSheets.Persistance.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/KP.TimeSheets.Persistance.pdb
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.Identity.Client.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/Newtonsoft.Json.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/System.Runtime.Caching.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/ClientApp/package-lock.json
KP_TimeSheet.MVC/bin/Debug/net5.0/ClientApp/package.json
KP_TimeSheet.MVC/bin/Debug/net5.0/ref/KP_TimeSheet.MVC.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
KP_TimeSheet.MVC/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
KP_TimeSheet.MVC/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/apphost.exe
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.AssemblyInfo.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.AssemblyInfoInputs.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.assets.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.csproj.CopyComplete
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.csproj.CoreCompileInputs.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.csproj.FileListAbsolute.txt
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.csprojAssemblyReference.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.dll
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.GeneratedMSBuildEditorConfig.editorconfig
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.genruntimeconfig.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.MvcApplicationPartsAssemblyInfo.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.pdb
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.RazorAssemblyInfo.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.RazorAssemblyInfo.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.RazorCoreGenerate.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.RazorTargetAssemblyInfo.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.RazorTargetAssemblyInfo.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.TagHelpers.input.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.TagHelpers.output.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.Views.dll
KP_TimeSheet.MVC/obj/Debug/net5.0/KP_TimeSheet.MVC.Views.pdb
KP_TimeSheet.MVC/obj/Debug/net5.0/project.razor.json
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/ref/KP_TimeSheet.MVC.dll
KP_TimeSheet.MVC/obj/Debug/net5.0/staticwebassets/KP_TimeSheet.MVC.StaticWebAssets.Manifest.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/staticwebassets/KP_TimeSheet.MVC.StaticWebAssets.xml
KP_TimeSheet.MVC/obj/KP_TimeSheet.MVC.csproj.nuget.dgspec.json
KP_TimeSheet.MVC/obj/KP_TimeSheet.MVC.csproj.nuget.g.props
KP_TimeSheet.MVC/obj/KP_TimeSheet.MVC.csproj.nuget.g.targets
KP_TimeSheet.MVC/obj/project.assets.json
KP_TimeSheet.MVC/obj/project.nuget.cache
KP.TimeSheets.Domain/obj/Debug/net5.0/KP.TimeSheets.Domain.assets.cache
KP.TimeSheets.Domain/obj/Debug/net5.0/KP.TimeSheets.Domain.csprojAssemblyReference.cache
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.assets.cache
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.csprojAssemblyReference.cache
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.assets.cache
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.csprojAssemblyReference.cache
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/TimeSheets/Confirmation.cshtml.g.cs
KP_TimeSheet.MVC/obj/Debug/net5.0/Razor/Views/TimeSheets/Register.cshtml.g.cs
KP_TimeSheet.MVC/0MyQueries/q1.sql
KP.TimeSheets.Domain/obj/Debug/net5.0/KP.TimeSheets.Domain.csprojAssemblyReference.cache
KP.TimeSheets.Domain/obj/Debug/net5.0/KP.TimeSheets.Domain.csprojAssemblyReference.cache
KP.TimeSheets.Persistance/bin/Debug/net5.0/KP.TimeSheets.Persistance.dll
KP.TimeSheets.Persistance/bin/Debug/net5.0/KP.TimeSheets.Persistance.pdb
KP.TimeSheets.Persistance/bin/Debug/net5.0/ref/KP.TimeSheets.Persistance.dll
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.csproj.CoreCompileInputs.cache
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.csprojAssemblyReference.cache
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.dll
KP.TimeSheets.Persistance/obj/Debug/net5.0/KP.TimeSheets.Persistance.pdb
KP.TimeSheets.Persistance/obj/Debug/net5.0/ref/KP.TimeSheets.Persistance.dll
