
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DatePicker/datepicker-theme.css" rel="stylesheet" />
<link href="~/Content/DatePicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/Kendo2018.3.1/kendo.common.min.css" rel="stylesheet" />
<script src="~/Scripts/Kendo2018.3.1/kendo.all.min.js"></script>
<link href="~/Content/Kendo2018.3.1/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/Kendo2018.3.1/kendo.default.mobile.min.css" rel="stylesheet" />
<link href="~/Content/Kendo2018.3.1/kendo.rtl.min.css" rel="stylesheet" />
<script src="~/Scripts/DatePicker/html5shiv.js"></script>
<script src="~/Scripts/DatePicker/respond.min.js"></script>
<script src="~/Scripts/DatePicker/moment.min.js"></script>
<script src="~/Scripts/DatePicker/moment-jalaali.js"></script>
<script src="~/Scripts/DatePicker/daterangepicker-fa-ex.js"></script>
<script src="~/Scripts/DatePicker/daterangepicker.js"></script>
<script src="~/Tools/ExpotTool/libs/FileSaver/FileSaver.min.js"></script>
<script src="~/Tools/ExpotTool/libs/jsPDF/jspdf.min.js"></script>
<script src="~/Tools/ExpotTool/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="~/Tools/ExpotTool/libs/html2canvas/html2canvas.min.js"></script>
<script src="~/Tools/ExpotTool/tableExport.js"></script>

<link href="~/Content/RegisterTimeSheets.css" rel="stylesheet" />


<span id="kntfRegsterTimeSheets"></span>

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive " style="width:100%" src="~/Images/Headers/insert Time sheet.jpg" />
        </div>
    </div>
    <div class="carousel-caption" style="top:-10px">
        <h3 style="font-size:1.5vw;">مدیریت کارکرد</h3>
    </div>
</div>


<nav class="navbar navbar-default text-center" style="margin-top:5px;justify-content:center;align-content:center">
    <div class="col-md-8" style="margin-top:5px;">
        <nav class="form-inline">
            <button id="btnEditWorkHour" onclick="WndEditWorkHours_OnInit()" class="btn btn-warning " style="margin-right:5px;" title="ویرایش ساعات کاری وارد شده">ویرایش دوره جاری <i class="glyphicon glyphicon-edit"></i></button>
            <button id="btnMonitorSent" onclick="GetWorkHours_MonitorSentWorkHour()" class="btn btn-success " style="margin-right:5px;" title="ویرایش ساعات کاری وارد شده">ارسال شده دوره جاری <i style="margin-right:10px" class="fa fa-tv"></i></button>
        </nav>
    </div>
    <div class="pull-left" style="margin-top:5px;">
        <nav class="form-inline">
            <button id="btnpreviousPeriod" onclick="GetPreviousPeriod()" class="btn btn-info inline" style="margin-left:5px" title="دوره قبلی"><i class="glyphicon glyphicon-forward"></i></button>
            <button id="btnSelectPeriod" class="btn btn-primary inline" style="margin-left:5px" title="اتخاب دوره" onclick="kwndSelectPeriod_OnInit()"> انتخاب دوره</button>
            <button id="btnNextPeriod" onclick="GetNextPeriod()" class="btn btn-info inline" style="margin-right:5px" title="دوره بعدی"> <i class="glyphicon glyphicon-backward"></i></button>
        </nav>
    </div>
</nav>

<div id="divMainContent" class="container-fluid" style="padding-top:4px;margin-top:-5px">

    <div id="KTLContainer" class="k-rtl">
        <nav class="nav ras-exportbar">
            <div class="form-inline">
                <a title="خروجی اکسل" href="#" onClick="doExport('#ktrlTimeSheets', {type: 'excel'});"><img src="~/Images/icons/xls.png" alt="XLS" style="width:24px"></a>
                <a title="خروجی وورد" style="margin:5px" href="#" onClick="doExport('#ktrlTimeSheets', { type: 'doc' });"> <img src='~/Images/icons/word.png' alt="Word" style="width:24px"> </a>
                @*<a href="#" onClick="doExport('#TBLReport', { type: 'pdf' });"> <img src='~/Images/icons/pdf.png' alt="PNG" style="width:24px"> </a>*@

            </div>
        </nav>
        <div id="ktrlTimeSheets"></div>
    </div>

    <div id="WndEditWorkHours" class="k-rtl" style="display:none; background-color:transparent">
        <div class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/Headers/insert Time sheet.jpg" />
                </div>
            </div>
            <div class="carousel-caption" style="top:-20px">
                <h3 style="font-size:1.5vw;">ویرایش کارکرد</h3>
            </div>
        </div>
        <div id="GrdEditWorkHour" style="margin-top:10px"></div>
        <button class="btn btn-danger  " style="margin-top:5px;" onclick="Close_WndEditWorkHours()">انصراف</button>
    </div>

    <div id="WndMonitorSentWorkHours" class="k-rtl" style="display:none; background-color:transparent">
        <div class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/Headers/insert Time sheet.jpg" />
                </div>
            </div>
            <div class="carousel-caption" style="top:-20px">
                <h3 style="font-size:1.5vw;">نمایش کارکرد های ارسال شده</h3>
            </div>
        </div>
        <div id="PanelMonitorWorkHour">
            <div id="GrdMonitorSentWorkHour" style="margin-top:10px"></div>
            <button class="btn btn-danger  " style="margin-top:5px;" onclick="Close_WndMonitorSentWorkHours()">انصراف</button>
        </div>
        <div id="PanelHistory">
            <div id="WorkHourHistory" style="margin-top:10px"></div>
            <button class="btn btn-warning  " style="margin-top:5px;" onclick="HideHistory();">بازگشت</button>
        </div>

    </div>



    <div id="kwndSaveWorkHours" class="k-rtl" style="display:none; background-color:transparent">
        <div class="row">
            <img class="img-responsive img-rounded" src="~/Content/Images/ersal karkard.jpg" />
        </div>
        <div class="row jumbotron jumbotron-fluid shadow" style="margin-right:10px; margin-top:10px;margin-left:10px">
            <div class="col-md-1"></div>
            <div class="col-md-8">

                <div class="form-group">
                    <label for="ddlProjects" class="form-inline ">  پـروژه :</label>
                       
                        <input id="ddlProjects" type="text" class="form-control" style="width:100%" />
                </div>
                <div id="TaskPanel" style="display:none">
                    <div class="form-group">
                        <label for="ddlTasks"> وظیفه :</label>

                        <input id="ddlTasks" type="text" class="form-control" style="width:100%" required="required" />
                        <span for="ddlTasks" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="TimeSpanPanel" style="display:none">
                        <label for="ktpWorkHour">   ساعت: </label>
                        <input id="ktpWorkHour" name="ktpWorkHour" class="form-control" style="width:100%" required="required" />
                        <span for="ktpWorkHour" class="text-danger"></span>
                    </div>

                        <div class="form-group" style="margin-top: 3%">
                            <div class="panel panel-info">
                                <div style="text-align:center" class="panel-heading">  توضیحات </div>
                                <textarea id="txtDescription" class="panel-body" cols="35" rows="3" placeholder="توضیحات"></textarea>
                            </div>
                        </div>
                    </div>




                    <div class="form-group">
                        <button id="btnSaveWorkHours" type="button" class="btn btn-success btn-sm" onclick="btnSaveWorkHours_Onclick()">ارسال</button>
                        <button id="btnCancel" type="button" class="btn btn-danger btn-sm" onclick="kwndSaveWHs_OnClose()">انصراف</button>
                    </div>
                </div>
            <div class="col-md-1"></div>
        </div>

    </div>

    <div id="kwndSelectTimePeriod" class="k-rtl" style="display:none; background-color:transparent">
        <div class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/Headers/insert Time sheet.jpg" />
                </div>
            </div>
            <div class="carousel-caption" style="top:-30px">
                <h3 style="font-size:0.8vw;">انتخاب دوره</h3>
            </div>


        </div>
        <div class="row jumbotron jumbotron-fluid shadow" style="margin-right:10px; margin-top:10px;margin-left:10px">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="form-group" id="weekly">
                    <label class=" checkbox-inline"><input id="chkweekly" type="radio" name="optperiod" value="weekly" checked> نمایش به صورت هفتگی </label>
                </div>
                <div id="periodically">
                    <div class="form-inline">
                        <label class="checkbox-inline">
                            <input id="chkperiodly" type="radio" name="optperiod" value="periodically">  نمایش به صورت روزانه در دوره های
                            <input style="width:20px;height:10px" type="text" class="form-control" id="numberDays" disabled>
                            <span>روزه</span>
                        </label>
                    </div>
                    <div class="form-group" style="margin-top:15px">
                        <span>
                            <small for="startDate">
                                شروع تاریخ از
                                <input disabled style="width:130px;height:10px; display:inline-block" type="text" class="form-control jalali-datepicker" id="startDate" placeholder="انتخاب تاریخ...">
                            </small>
                        </span>
                    </div>
                </div>
                <br />

                <div class="form-group pull-right">
                    <button id="btnSendPeriod" type="button" class="btn btn-success btn-sm" onclick="btnSendPeriods_Onclick()">تایید</button>
                    <button id="btnCancel" type="button" class="btn btn-danger btn-sm" onclick="kwndSelectPeriod_OnClose()">انصراف</button>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
</div>


<div id="wndSendWorkHour" class="k-rtl" style="display:none">
    <div class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/Headers/insert Time sheet.jpg" />
            </div>
        </div>
        <div class="carousel-caption" style="top:-30px">
            <h3 style="font-size:1vw;">ارسال کارکرد در تاریخ <b id="SenddateTitle"></b> </h3>
        </div>
    </div>

    <div id="GRDSendWorkHours"> </div>

    <div class="form-group" style="margin-top:5px">
        <div class="panel panel-info">
            <div style="text-align:center" class="panel-heading">جدول مجموع کارکرد ها</div>
            <table class="table" style="text-align:center">
                <thead>
                    <tr style="text-align:center">
                        <th style="text-align:center">مجموع ساعت حضور</th>
                        <th style="text-align:center">مجموع کارکرد آماده ارسال</th>
                        <th style="text-align:center">مجموع کارکرد ارسال شده</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:40px">
                        <td>
                            <label id="presenceHour"></label><b>ساعت</b>
                        </td>
                        <td>
                            <label id="SumReadyForSentWorkHours"></label> <b>ساعت</b>
                        </td>
                        <td>
                            <label id="SumSentWorkHours"></label> <b>ساعت</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>



    <div style="margin-top:10px">
        <button class="btn btn-success" onclick="SendAllWorkHours_OnClick()">ارسال همه </button>
        <button class="btn btn-danger" onclick="wndSendWorkHour_OnClose()">انصراف </button>
    </div>
</div>


<table class="row" style="margin-top:10px; border:none;width:100%; padding-right:1.7%">
    <tbody>
        <tr>
            <td class="raspanel shadow ">
                <h4 class="text-center">ماه جاری</h4>
                <hr />
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-2">حضور</div>
                    <div class=" col-xs-6">
                        <div class="progress">
                            <div id="MonthlyPresencePercent" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div id="MonthlyPresence" class="col-xs-3"></div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-2">کارکرد</div>
                    <div class=" col-xs-6">
                        <div class="progress">
                            <div id="MonthlyWorkHourPercent" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div id="MonthlyWorkHour" class="col-xs-3"></div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-2">اختلاف</div>
                    <div class=" col-xs-6">
                        <div class="progress">
                            <div id="MonthlyDefferencePercent" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div id="MonthlyDefference" class="col-xs-3"></div>
                </div>
                <div id="tblcurrmonth" style="margin-top:5px"></div>

            </td>


            <td style="color:transparent;">
                ____
            </td>
            <td class="raspanel shadow">
                <h4 class="text-center">دوره جاری</h4>
                <hr />
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-2">حضور</div>
                    <div class=" col-xs-6">
                        <div class="progress">
                            <div id="PRBperHourCurrPeriod" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div id="LblperHourCurrPeriod" class="col-xs-3"></div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-2">کارکرد</div>
                    <div class=" col-xs-6">
                        <div class="progress">
                            <div id="PRBworkHourCurrPeriod" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div id="LblworkHourCurrPeriod" class="col-xs-3"></div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-2">اختلاف</div>
                    <div class=" col-xs-6">
                        <div class="progress">
                            <div id="PRGPeriodicallyDefferencePercent" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div id="LblPeriodicallyDefference" class="col-xs-3"></div>
                </div>

                <div id="tblcurrperiod" style="margin-top:5px"></div>

            </td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/RegisterTimeSheets.js"></script>
