
@{
    ViewBag.Title = "Sync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info" >
    <div style="text-align:center" class="panel-heading">
        همگام سازی PWA
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="form-group "> 
                <label  style="margin-top:5px" class="col-form-label text-success">@ViewBag.Message</label>
            </div>

        </div>
    </div>
</div>


